*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
    background-color: #f8f9fa;
}
:root {
    --primary-color: #FF6B6B;
    --secondary-color: #4ECDC4;
    --accent-color: #FFD166;
    --dark-color: #2D3047;
    --light-color: #F7F9FC;
    --success-color: #06D6A0;
    --warning-color: #FFD166;
    --danger-color: #EF476F;
    --info-color: #118AB2;
    --card-bg: #FFFFFF;
    --shadow-color: rgba(45, 48, 71, 0.1);
    --border-radius: 12px;
    --padding-left-right:20px;
}
html{
    scroll-behavior: smooth;
}
header{
    background-color: var(--dark-color);
    width: 100%;
    height: 80px;
    padding: 20px ;
    position: fixed;
    z-index: 9999;
    top: 0;
    right: 0;
    box-shadow: 0 0 8px 20px rgba(0, 0, 0, 0.08);
}
/* الهيدر */
header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.icon-bar{
    display: none;
    color: var(--accent-color);
    font-size: 30px;
    position: absolute;
    right: 30px;
    top: 10px;
    cursor: pointer;
    transition: .5s ease;
}
.icon-bar:hover{
    transform: rotate(90deg);
}
nav .logo{
    color: white;
    display: flex;
    align-items: baseline;
    gap: 10px;
    font-size: 14px;
}

nav .logo i{
    font-size: 25px;
    color: var(--accent-color);
}


nav .nav-left {
    display: flex;
    align-items: center;
    gap: 5px;
    color: white;
}

nav .nav-left .avatar{
    width: 40px;
    height: 40px;
    background-color: var(--secondary-color);
    border-radius: 50%;
    margin-left: 10px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav .nav-left .admin{
    margin-left: 5px;
    margin-left: 20px;
}
nav .nav-left .admin p{
    color: #ccc;
}
nav .nav-left a{
    text-decoration: none;
    transition: .5s ease;
    color: white;
}
nav .nav-left a:hover{
    transform: scale(1.1);
    color: var(--secondary-color);
}
nav .nav-left a i{
    margin-left: 5px;
    font-size: 18px;
}


/* السيد بار */

section{
    display: flex;
}

.sidebar{
    /* margin-top: 80px; */
    width: 220px;
    background-color: var(--dark-color);
    height: 100vh;
    z-index: 999;
    position: fixed;
    right: 0;
    top: 80px;
}
.sidebar ul{
    margin-top: 20px;
}
.sidebar ul li{
    list-style: none;
    font-size: 20px;
    padding: 15px;
    transition: .3s ease;
    cursor: pointer;
    color: white;
}
.active{
    background-color: #666;
    border-right: 5px solid var(--accent-color);
}
.sidebar ul li:hover{
    background-color: #666;
    border-right: 5px solid var(--accent-color);
}
.sidebar ul li:last-of-type{
    margin-top: 30px;
}
.sidebar ul li span{
    margin-right: 10px;
}

/* لوحة التحكم */
.content{
    width: 80%;
    margin: 120px 250px 30px 30px;
    background-color: white;
    padding: 30px;
    border-radius: 20px;
    overflow: auto;
}
.content .bookings{
    display: none;
}
.content .restaurants{
    display: none;
}
.content .users{
    display: none;
}
.content-section .head{
    display: flex;
    gap: 20px;
    font-size: 25px;
    align-items: center;
    color: var(--dark-color);
    margin-bottom: 40px;
}
.content-section .head i{
    font-size: 30px;
}

.content-section .cards{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px , 1fr));
    gap: 30px;
    margin-bottom: 100px;
}
.content-section .cards .box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
    transition: .5s ease;
}
.content-section .cards .box:first-child{
    border-left: 4px solid var(--primary-color);
}
.content-section .cards .box:nth-child(2){
    border-left: 4px solid var(--secondary-color);
}
.content-section .cards .box:nth-child(3){
    border-left: 4px solid var(--info-color);
}
.content-section .cards .box:nth-child(4){
    border-left: 4px solid var(--success-color);
}
.content-section .cards .box:hover{
    transform: translateY(-5px);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.15);
}
.content-section .cards .box .text{
    text-align: center;
}
.content-section .cards .box .text h4{
    color: #666;
}
.content-section .cards .box .text span{
    font-size: 30px;
    color: var(--dark-color);
    font-weight: bold;
}
.content-section .cards .box i{
    padding: 20px;
    background-color: red;
    border-radius: 50%;
    color: white;
    font-size: 25px;
}
.content-section .cards .box .fa-calendar-check{
    background-color: var(--primary-color);
}
.content-section .cards .box .fa-utensils{
    background-color: var(--secondary-color);
}
.content-section .cards .box .fa-users{
    background-color: var(--info-color);
}
.content-section .cards .box .fa-bolt{
    background-color: var(--success-color);
}

/* اخر الحجوزات */

.card-booking{
    padding: 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
    border-radius: 12px;
    overflow: auto;
}
.section-header{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.users .section-header{
    position: relative;
} 
.section-header .text{
    display: flex;
    gap: 20px;
    font-size: 25px;
    align-items: center;
    color: var(--dark-color);
    margin-bottom: 40px;
}
.section-header button{
    padding: 12px 30px;
    border: none;
    border-radius: 12px;
    background-color: var(--danger-color);
    color: white;
    font-size: 18px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
    transition: .5s ease;
    cursor: pointer;
}
.section-header button:hover{
    transform: translateY(-5px);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.15);
}
.search-user{
    position: absolute;
    position: absolute;
    left: 50%;
    top: 34%;
    transform: translate(-50%, -50%);
    padding: 10px 50px;
    background-color: var(--dark-color);
    border-radius: 12px;
    display: none;
}
.search-user input{
    padding: 12px;
    border-radius: 10px;
    border: 2px solid var(--dark-color);
    outline: none;
    font-size: 16px;
    outline: none;
    transition: .5s;
}
.search-user input:focus{
    transform: scale(1.1);
}
.search-user span{
    position: absolute;
    top: -19px;
    right: -19px;
    background: var(--primary-color);
    padding: 10.5px 15px;
    border-radius: 50%;
    font-size: 20px;
    font-weight: bold;
    color: var(--light-color);
    cursor: pointer;
    transition: .5s ease;
}
.search-user span:hover{
    transform: scale(1.08);
}
table {
    width: 100%;
    text-align: center;
}
table thead{
    font-size: 18px;
    padding: 20px;
    height: 50px;
    background-color: #f8f9fa;
}

table tbody tr td{
    border-bottom: 1px solid #eee;
    padding: 15px;
}
table tbody tr td i{
    padding: 10px;
    border-radius: 50%;
    color: white;
    cursor: pointer;
    transition: .3s ease;
}
table tbody tr td i:hover{
    transform: scale(1.05);
}
table tbody tr td .fa-check{
    background-color: var(--success-color);
}
table tbody tr td .fa-times{
    background-color: var(--danger-color);
}
table tbody tr td .fa-eye{
    background-color: var(--info-color);
}
table tbody tr td .fa-credit-card{
    background-color: var(--accent-color);
}
table tbody tr td .fa-flag-checkered{
    background-color: var(--dark-color);
}
table tr .status-yellow{
    background-color: rgba(255, 209, 102, 0.2);
    color: #e6a700;
    border-radius: 20px;
}
table .status-green{
    background-color: rgba(6, 214, 160, 0.2);
    color: var(--success-color);
    border-radius: 20px;
}
table .status-end{
    background: rgb(27 214 6 / 47%);
    color: var(--dark-color);
    border-radius: 20px;
}
table .status-red{
    background-color: rgba(239, 71, 111, 0.2);
    color: var(--danger-color);
    border-radius: 20px;
}

/* ادارة المطاعم */
table tbody tr td img{
    width: 50px;
    height: 50px;
    border-radius: 12px;
}
table tbody tr td .fa-star{
    color: var(--accent-color);
    padding: 0;
    font-size: 18px;
}
table tbody tr td strong{
    color: var(--success-color);
}
table tbody tr td .fa-edit{
    background-color: var(--info-color);
    margin-left: 5px;
}
table tbody tr td .fa-trash{
    background-color: var(--primary-color);
}

/* اضافة مطعم جديد */
.form-add-restaurant{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    z-index: 9999;
    height: 100%;
    display: none;
}
.add-restaurant{
    width: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 20px;
    height: 90%;
    overflow: auto;
    padding: 25px;
}
.form-add-restaurant .section-header{
    align-items: baseline;
}
.close-form-add-restaurant{
    font-size: 22px;
    cursor: pointer;
}
.add-restaurant .form{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px , 1fr));
    gap: 20px;
}
.add-restaurant label{
    display: block;
    margin-bottom: 8px;
    font-weight: 500;
    color: var(--dark-color);
    font-size: 22px;
}
.add-restaurant input,
.add-restaurant select,
.add-restaurant textarea{
    width: 100%;
    padding: 12px;
    border-radius: 10px;
    border: 2px solid #e0e0e0;
    font-size: 16px;
    outline: none;
}
.add-restaurant select{
    cursor: pointer;
}
.add-restaurant .images label{
    display: inline-flex;
    flex-direction: column;
    gap: 7px;
}
.add-restaurant .images label i{
    padding: 10px 117px;
    border-radius: 10px;
    border: 2px solid #e0e0e0;
    cursor: pointer;
}
.add-restaurant input:focus{
    border: 2px solid var(--primary-color);
}
.add-restaurant .dic{
    width: 100%;
}
.add-restaurant .two-button {
    text-align: end;
    margin-top: 40px;
}
.add-restaurant .two-button button{
    padding: 13px 32px;
    border-radius: 12px;
    border: none;
    margin-bottom: 20px;
    cursor: pointer;
    color: white;
    font-size: 16px;
    margin: 20px 5px 20px 5px;
    transition: .5s ease;
    display: inline-block;
    text-decoration: none;
}
.add-restaurant .two-button button:hover{
    transform: translateY(-5px);
    box-shadow: 0 0 10px 30px rgba(0, 0, 0, 0.15);
}
.add-restaurant .two-button .cancel{
    background-color: var(--primary-color);
}
.add-restaurant .two-button #btn-add-restaurants{
    background-color: var(--success-color);
}

/* المستخدمين */

table .fa-ban{
        background-color: var(--primary-color);
}
table .user-avatar{
    width: 40px;
    height: 40px;
    background-color: var(--secondary-color);
    border-radius: 50%;
    margin-left: 10px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
table .stop{
    color: var(--primary-color);
}


#show-details-booking{
    position: fixed;
    z-index: 999999999;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0,0.5);
    display: none;
}
#show-details-booking .show-details{
    position: absolute;
    width: 700px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999999999;
    background-color: white;
    overflow: auto;
    border-radius: 20px;
}
#show-details-booking .show-details h2{
    text-align: center;
    padding: 20px;
    color: var(--dark-color);
}
#show-details-booking .show-details .grid-show-details{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px ,1fr));
    padding: 20px;
    font-size: 17px;
    gap: 20px;
}
#show-details-booking .show-details .grid-show-details div{
    display: flex;
    align-items: center;
    gap: 5px;
}
#show-details-booking .show-details .grid-show-details div strong,
#show-details-booking .show-details .grid-show-details div i{
    color: var(--dark-color);
}
#show-details-booking .show-details .grid-show-details div span{
    color: #666;
}
#show-details-booking .show-details .grid-show-details button{
    grid-column: 1/3;
    padding: 10px 25px;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 18px;
    cursor: pointer;
    transition: .5s ease;
    background-color: var(--primary-color);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
}
#show-details-booking .show-details .grid-show-details button:hover{
    transform: translateY(-5px);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.15);
}

@media(max-width:768px){
    .sidebar{
        display: none;
    }
    .content{
        width: 100%;
        margin-right: 20px;
    }
    .icon-bar{
        display: block;
        top: 25px;
        font-size: 27px;
    }
    nav .logo h2{
        display: none;
    }
    nav .logo i{
        position: absolute;
        right: 75px;
        top: 29px;
        font-size: 20px;
    }
    .section-header .text{
        font-size: 12px;
        gap: 5px;
    }
    .section-header button{
        padding: 10px 17px;
        font-size: 12px;
    }
    nav .nav-left .avatar {
    width: 30px;
    height: 30px;
    }
    nav .nav-left .admin h3{
        font-size: 16px;
    }
    nav .nav-left .admin p{
        font-size: 13px;
    }
    nav .nav-left a i {
    margin-left: 0px;
    font-size: 14px;
    }
    nav .nav-left .admin{
        margin-left: 10px;
    }
    .section-header{
        align-items: baseline;
    }
    .add-restaurant{
        width: 300px;
    }
    #show-details-booking .show-details{
        width: 400px
    }
    #show-details-booking .show-details .grid-show-details{
        font-size: 14px;
        grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    }
}
@media(max-width:450px){
    #show-details-booking .show-details{
        width: 320px
    }
    #show-details-booking .show-details .grid-show-details{
        font-size: 12px;
        grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
    }
}


.block{
    display: block;
}
.none{
    display: none;
}