*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
    background-color: #f8f9fa;
}
:root {
    --primary-color: #FF6B6B;
    --secondary-color: #4ECDC4;
    --accent-color: #FFD166;
    --dark-color: #2D3047;
    --light-color: #F7F9FC;
    --success-color: #06D6A0;
    --warning-color: #FFD166;
    --danger-color: #EF476F;
    --info-color: #118AB2;
    --card-bg: #FFFFFF;
    --shadow-color: rgba(45, 48, 71, 0.1);
    --border-radius: 12px;
    --padding-left-right:20px;
}
header{
    background-color: var(--dark-color);
    width: 100%;
    padding: 20px ;
    position: fixed;
    z-index: 999;
    top: 0;
    right: 0;
}
header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header nav h2 a{
    color: var(--accent-color);
    text-decoration: none;
}
header nav h2{
    transition: .5s ease;
}
header nav h2:hover{
    transform: scale(1.1);
}
nav .icon-active{
    display: flex;
    align-items: center;
    gap: 80px;
    position: relative;
}
nav .icon-active::before{
    content: '';
    position: absolute;
    top: 20px;
    right: 0;
    left: -5px;
    height: 2px;
    background: rgba(255, 255, 255, 0.2);
    z-index: 1;
}
nav .icon-active .icon{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 14px;
    font-size: 18px;
}
nav .icon-active .icon:nth-child(2) span{
    color: var(--accent-color);
}
nav .icon-active .icon:nth-child(2) i{
    background-color: var(--accent-color);
    color: var(--dark-color);
    box-shadow: 0px 0px 7px 2px var(--accent-color);
}
nav .icon-active .icon i{
    background: rgba(255, 255, 255, 0.1);
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: #ccc;
}
nav .icon-active .icon span{
    color: #ccc;
    font-size: 12px;
}
nav .back-restaurant-page a{
    padding: 12px 20px;
    cursor: pointer;
    border: 3px solid var(--accent-color);
    background-color: var(--dark-color);
    color: var(--accent-color);
    font-size: 20px;
    margin: 0px 10px;
    border-radius: 12px;
    transition: .5s ease;
    display: inline-flex;
    text-decoration: none;
}
nav .back-restaurant-page a:hover{
    transform: translatey(-5px);
}
.container{
    width: 90%;
    margin: auto;
    margin-top: 150px;
}
.container .info-restaurant{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(350px , 1fr));
    gap: 20px;
}
.container .info-restaurant .box{
    box-shadow: 0 10px 30px rgba(0, 0, 0 , 0.08);
    border-radius: 12px;
    transition: .5s ease;
}
.container .info-restaurant .box:hover{
    transform: translateY(-5px);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);

}
.container .info-restaurant .box h2{
    background-color: var(--dark-color);
    padding: 20px;
    text-align: center;
    color: white;
    border-radius: 12px 12px 0  0;
}
.container .info-restaurant .box h2 i{
    color: var(--danger-color);
}
.container .info-restaurant .content{
    background-color: white;
    padding: 20px;
    height: 200px;
    border-radius: 0 0 12px  12px;
    font-size: 18px;
    color: #666;
}
.container .info-restaurant .content .feature span{
    display: inline-block;
    background-color: var(--success-color);
    padding: 8px 10px;
    margin: 10px;
    border-radius: 12px;
    color: white;
}

.customer-info{
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
}
.customer-info .head{
    text-align: center;
    background-color: var(--primary-color);
    padding: 30px;
    color: white;
    border-radius: 20px 20px 0 0 ;
}
.customer-info .head h2{
    font-size: 50px;
    margin-bottom: 10px;
}
.customer-info .head p{
    font-size: 20px;
}
.customer-info .form .grid{
    padding: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(400px , 1fr));
    gap:30px ;
}
.customer-info .form .grid select,
.customer-info .form .grid input,
.customer-info .form .grid textarea{
    width: 100%;
    padding: 12px 15px;
    border: 2px solid #e0e0e0;
    border-radius: 12px;
    outline: none;
    font-size: 18px;
}

.customer-info .form .grid textarea{
    height: 110px;
}
.customer-info .form .grid .nots{
    grid-column: 1 / -1;

}
.customer-info .form .grid select:focus,
.customer-info .form .grid input:focus{
    border: 2px solid var(--primary-color);
}
.customer-info .form .grid label{
    font-size: 20px;
    color: var(--dark-color);
    margin-bottom: 8px;
    display: block;
}
.customer-info .form .footer-form{
    padding: 0 30px 30px 30px;
}
.customer-info .form .footer-form .accept-role{
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 12px;
    margin-bottom: 20px;
}
.customer-info .form .footer-form .accept-role label{
    color: var(--dark-color);
    font-size: 20px;
    cursor: pointer;
}
.customer-info .form .footer-form .accept-role label a{
    text-decoration: none;
    color: var(--primary-color);
}
.customer-info .form .footer-form .accept-role input{
    accent-color: var(--primary-color);
}
.customer-info .form .footer-form .accept-role p{
    color: var(--info-color);
    margin-top: 15px;
    font-size: 17px;
}
.customer-info .form .footer-form .btns button{
    padding: 10px 25px;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 18px;
    margin-bottom: 20px;
    cursor: pointer;
    transition: .5s ease;
}
.customer-info .form .footer-form .btns button:hover{
    transform: translateY(-5px);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);

}
.customer-info .form .footer-form .btns .success{
    background-color: var(--success-color);
}
.customer-info .form .footer-form .btns .primary {
    background-color: var(--primary-color);
    margin-right: 10px;
}
.customer-info .form .footer-form .help {
    text-align: center;
    color: #666;
    font-size: 20px;
}
.customer-info .form .footer-form .help a{
    text-decoration: none;
    color: var(--primary-color);
}

/* الفوتر */
footer{
    background-color: var(--dark-color);
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 200px;
}
.footer{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px , 1fr));
    justify-content: center;
    gap: 20px;
    padding: 60px 0;
}
.footer h2{
    color: white;
    margin-bottom: 20px;
}
.footer .about-site{
    color: rgba(255, 255, 255, 0.8);
    font-size: 18px;
}
.footer .about-site p{
    margin-bottom: 30px;
}
.footer .about-site div{
    margin-bottom: 10px;
}


.footer a {
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
    font-size: 16px;
    transition: .3s ease;
}
.footer a:hover{
    color: var(--accent-color);
}
.footer li{
    list-style: none;
    margin-bottom: 15px;
    transition: .3s ease;
}
.footer li:hover{
    transform: translateX(-5px);
}

p{
    word-spacing: 1px;
    line-height: 1.9;
}
.footer-end{
    text-align: center;
    padding-top: 30px;
    padding-bottom: 20px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255, 0.6);
}

@media(max-width:767px){
    header nav h2 a{
        font-size: 15px;
    }
    nav .icon-active{
        gap: 10px;
    }
    
    nav .back-restaurant-page a{
        padding: 6px 6px;
        border: 2px solid var(--accent-color);
        font-size: 18px;
    }
    .customer-info .form .grid{
        grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    }
    footer{
        text-align: center;
    }
}
@media(max-width:520px){
    header nav h2 a {
        font-size: 12px;
    }
    nav .icon-active .icon i{
        width: 25px;
        height: 25px;
    }
    nav .back-restaurant-page a{
        padding: 3px 3px;
        border: 1px solid var(--accent-color);
        font-size: 11px;
        border-radius: 4px;
    }
    nav .icon-active .icon{
        gap: 5px;
        font-size: 16px;
    }
    nav .icon-active::before{
        top: 12px;
    }
    nav .icon-active .icon span{
        font-size: 10px;
    }
    .container .info-restaurant {
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    }
    .customer-info .head h2 {
        font-size: 36px;
    }
    .customer-info .form .footer-form .accept-role label {
        font-size: 14px;
    }
    .customer-info .form .footer-form .accept-role p {
        font-size: 13px;
    }
    .customer-info .form .footer-form .btns button {
        padding: 10px 18px;
        text-align: center;
    }
    .container .info-restaurant .content .feature span{
        margin: 5px;
    }
}