*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
    background-color: #f8f9fa;
}
:root {
    --primary-color: #FF6B6B;
    --secondary-color: #4ECDC4;
    --accent-color: #FFD166;
    --dark-color: #2D3047;
    --light-color: #F7F9FC;
    --success-color: #06D6A0;
    --warning-color: #FFD166;
    --danger-color: #EF476F;
    --info-color: #118AB2;
    --card-bg: #FFFFFF;
    --shadow-color: rgba(45, 48, 71, 0.1);
    --border-radius: 12px;
    --padding-left-right:20px;
}
html{
    scroll-behavior: smooth;
}
/* الهيدر */
header{
    background-color: var(--dark-color);
    width: 100%;
    padding: 20px ;
    position: fixed;
    z-index: 999;
    top: 0;
    right: 0;
}
header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav .logo{
    color: var(--accent-color);
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 14px;
}

nav .logo i{
    font-size: 25px;
}

nav .icon-active{
    display: flex;
    align-items: center;
    gap: 80px;
    position: relative;
    margin-left: 100px;
}
nav .icon-active::before{
    content: '';
    position: absolute;
    top: 20px;
    right: 0;
    left: -5px;
    height: 2px;
    background: rgba(255, 255, 255, 0.2);
    z-index: 1;
}
nav .icon-active .icon{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 14px;
    font-size: 18px;
}
nav .icon-active .icon:first-child span{
    color: var(--accent-color);
}
nav .icon-active .icon:first-child i{
    background-color: var(--accent-color);
    color: var(--dark-color);
    box-shadow: 0px 0px 7px 2px var(--accent-color);
}
nav .icon-active .icon i{
    background: rgba(255, 255, 255, 0.1);
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: #ccc;
}
nav .icon-active .icon span{
    color: #ccc;
    font-size: 12px;
}

.icon-bell i{
    cursor: pointer;
    transition: .2s ease;
    color: var(--accent-color);
    font-size: 18px;
    margin-right: 10px;
}

.icon-bell i:hover{
    transform: scale(1.1);
} 

/* الفلاتر */

section{
    margin-top: 200px;

}

.filters{
    margin: 0 20px 60px;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(350px, 1fr));
    gap: 20px;
    background-color: white;
    padding: 32px;
    border-radius: 12px;
        box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
}
.filters .filter-box{
    display: flex;
    flex-direction: column;
}
.filters .filter-box label {
    font-size: 18px;
    color: var(--dark-color);
    margin-bottom: 6px;
}
.filters .filter-box select{
    padding: 12px 15px;
    font-size: 16px;
    border-radius: 12px;
    border: 2px solid #e0e0e0;
    transition: .5s ease;
    cursor: pointer;
    outline: none;
}
.filters .filter-box select:focus{
    border: 2px solid var(--primary-color);

}
.filters .filter-box select option{
    padding: 10px;
}

/* المطاعم المتاحة */

.restaurant-section{
    margin: 60px 20px;
}
.head{
    text-align: center;
    margin-bottom: 40px;
}
.head h2{
    color: var(--dark-color);
    font-size: 50px;
}
.head p{
    color: #666;
    font-size: 18px;
    margin-top: 20px;
}

.restaurant-all{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 30px;
}
.restaurant-all .restaurant-box{
    background-color: white;
    text-align: center;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
    transition: .5s ease;
}
.restaurant-all .restaurant-box:hover{
    transform: translatey(-10px);
    box-shadow: 0 8px 20px rgba(0,0,0,0.15);
}
.restaurant-all .restaurant-box img{
    width: 100%;
    border-radius: 12px 12px 0 0 ;
    transition: .5s ease;
}
.restaurant-all .restaurant-box .restaurant-desc{
    padding: 20px;
}
.restaurant-all .restaurant-box .restaurant-desc h3{
    color: var(--dark-color);
    margin: 0 10px 10px 10px;
    font-size: 25px;
}
.restaurant-all .restaurant-box .restaurant-desc .data{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}
.restaurant-all .restaurant-box .restaurant-desc .data i{
    color: var(--primary-color);
}
.restaurant-all .restaurant-box .restaurant-desc .data span{
    color: #666;
}
.restaurant-all .restaurant-box .restaurant-desc .rating{
    margin-bottom: 10px;
    color: var(--primary-color);
}
.restaurant-all .restaurant-box .restaurant-desc p{
    font-size: 16px;
    margin-bottom: 10px;
    color: #666;
}

.restaurant-all .restaurant-box .restaurant-desc .btns{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.restaurant-all .restaurant-box .restaurant-desc .btns a{
    padding: 11px 45px;
    font-size: 17px;
    border-radius: 12px;
    border: none;
    font-weight: bold;
    cursor: pointer;
    transition: .5s ease;
}
.restaurant-all .restaurant-box .restaurant-desc .btns a:hover{
    transform: translatey(-5px);
    box-shadow: 0 8px 20px rgba(0,0,0,0.15);
}
.restaurant-all .restaurant-box .restaurant-desc .btns .btn-details{
    border: 2px solid var(--accent-color);
    color: var(--accent-color);
    background-color: white;
}
.restaurant-all .restaurant-box .restaurant-desc .btns .btn-booking{
    background-color: var(--primary-color);
    color: white;
    
}

.restaurant-section .restaurant-count{
    text-align: center;
    margin-top: 20px;
    color: #666;
    font-size: 16px;
    font-weight: bold;
}
.restaurant-section .restaurant-count span{
    color: var(--primary-color);
}





/* الفوتر */
footer{
    background-color: var(--dark-color);
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 200px;
}
.footer{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px , 1fr));
    justify-content: center;
    gap: 20px;
    padding: 60px 0;
}
.footer h2{
    color: white;
    margin-bottom: 20px;
}
.footer .about-site{
    color: rgba(255, 255, 255, 0.8);
    font-size: 18px;
}
.footer .about-site p{
    margin-bottom: 30px;
}
.footer .about-site div{
    margin-bottom: 10px;
}


.footer a {
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
    font-size: 16px;
    transition: .3s ease;
}
.footer a:hover{
    color: var(--accent-color);
}
.footer li{
    list-style: none;
    margin-bottom: 15px;
    transition: .3s ease;
}
.footer li:hover{
    transform: translateX(-5px);
}

p{
    word-spacing: 1px;
    line-height: 1.9;
}
.footer-end{
    text-align: center;
    padding-top: 30px;
    padding-bottom: 20px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255, 0.6);
}
.icon-bell .user{
    color: var(--accent-color);
    font-size: 20px;
    display: flex;
    align-items: baseline;
    left: 20px;
    top: 34px;
    position: fixed;
}
.icon-bell .user .name{
    display: flex;
    margin-left: 20px;
    align-items: center;
}
.icon-bell a{
    color: var(--accent-color);
    border: none;
    text-decoration-line: none;

}
.icon-bell h4{
        font-size: 15px;
    }

.icon-bell i{
    margin-left: 5px;
    transition: .5s ease;
    cursor: pointer;
}
.icon-bell .fa-right-from-bracket{
    margin-right: 20px;
}

.icon-bell i:hover{
    transform: scale(1.2);
}
.icon-bell strong{
    margin-left: 5px;
}
@media(max-width:769px){
    
}
@media(max-width:769px){
    nav .icon-active{
        gap: 40px;
    }
    nav .logo{
        font-size: 10px;
    }
}
@media(max-width:577px){
    nav .logo{
        font-size: 9px;
    }  
    nav .logo h1{
        display: none;
    }
    nav .logo i{
        font-size: 20px;
    }
    nav .icon-active{
        gap: 10px;
        margin-left: 50px;
    }
    nav .icon-active .icon i{
        width: 20px;
        height: 20px;
        padding: 12px;
    }
    nav .icon-active::before{
        top: 11px;
    }
    nav .icon-active .icon span{
        font-size: 10px;
    }
    .head h2{
        font-size: 40px;
    }
    .restaurant-all .restaurant-box .restaurant-desc .btns .btn-details{
        padding: 12px 20px;
        font-size: 15px;
    }
    .restaurant-all .restaurant-box .restaurant-desc .btns a {
        padding: 12px 20px;
        font-size: 15px;
    }
    .footer {
        text-align: center;
        gap: 40px;
    }
    section{
        margin-top: 150px;
    }
    .filters{
        grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
    }
    .restaurant-all{
    grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
    }
    .icon-bell .user i{
        margin-right: 1px;
    }
    .icon-bell .user .name{
        margin-left: 6px;
        
    }
    .icon-bell .user .name h4{
        margin-right: 4px;
        font-size: 10px;
    }
    .icon-bell .user i{
        font-size: 10px;
    }
    nav .icon-active .icon{
        gap: 5px;
    }
    .icon-bell .user{
        top: 30px;
        left: 10px;
    }

}
#transparent{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    z-index: 9999;
    height: 100%;
    display: none;
}
#alert{
    position: fixed;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.8);
    background: var(--card-bg);
    color: var(--danger-color);
    padding: 20px 25px;
    min-width: 280px;
    border-radius: 12px;
    box-shadow: 0 10px 30px var(--shadow-color);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 25px;
    z-index: 9999;
    transition: 0.3s ease;
    border: 4px solid var(--primary-color);
    animation-name: alert;
    animation-duration: .6s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}
@keyframes alert {
    25%{
        border-top: 4px solid var(--dark-color);
    }
    50%{
        border-right: 4px solid var(--dark-color);
    }
    75%{
        border-bottom: 4px solid var(--dark-color);
    }
    100%{
    border-left: 4px solid var(--dark-color);
    }
}
#alert #close-alert{
    position: absolute;
    top: -19px;
    right: -19px;
    background: var(--primary-color);
    padding: 10.5px 15px;
    border-radius: 50%;
    font-size: 20px;
    font-weight: bold;
    color: var(--light-color);
    cursor: pointer;
    transition: .5s ease;
}
#alert #close-alert:hover{
    transform: scale(1.08);
}