*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
    background-color: #f8f9fa;
}
:root {
    --primary-color: #FF6B6B;
    --secondary-color: #4ECDC4;
    --accent-color: #FFD166;
    --dark-color: #2D3047;
    --light-color: #F7F9FC;
    --success-color: #06D6A0;
    --warning-color: #FFD166;
    --danger-color: #EF476F;
    --info-color: #118AB2;
    --card-bg: #FFFFFF;
    --shadow-color: rgba(45, 48, 71, 0.1);
    --border-radius: 12px;
    --padding-left-right:20px;
}
header{
    background-color: var(--dark-color);
    width: 100%;
    padding: 20px ;
    position: fixed;
    z-index: 999;
    top: 0;
    right: 0;
}
header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header nav h2 a{
    color: var(--accent-color);
    text-decoration: none;
}
header nav h2{
    transition: .5s ease;
}
header nav h2:hover{
    transform: scale(1.1);
}
nav .icon-active{
    display: flex;
    align-items: center;
    gap: 80px;
    position: relative;
}
nav .icon-active::before{
    content: '';
    position: absolute;
    top: 20px;
    right: 0;
    left: -5px;
    height: 2px;
    background: rgba(255, 255, 255, 0.2);
    z-index: 1;
}
nav .icon-active .icon{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 14px;
    font-size: 18px;
}
nav .icon-active .icon:last-child span{
    color: var(--accent-color);
}
nav .icon-active .icon:last-child i{
    background-color: var(--accent-color);
    color: var(--dark-color);
    box-shadow: 0px 0px 7px 2px var(--accent-color);
}
nav .icon-active .icon i{
    background: rgba(255, 255, 255, 0.1);
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: #ccc;
}
nav .icon-active .icon span{
    color: #ccc;
    font-size: 12px;
}
nav .back-restaurant-page a{
    padding: 12px 20px;
    cursor: pointer;
    border: 3px solid var(--accent-color);
    background-color: var(--dark-color);
    color: var(--accent-color);
    font-size: 20px;
    margin: 0px 10px;
    border-radius: 12px;
    transition: .5s ease;
    display: inline-flex;
    text-decoration: none;
}
nav .back-restaurant-page a:hover{
    transform: translatey(-5px);
}

.container{
    width: 90%;
    margin: auto;
    margin-top: 200px;
}

.container .header{
    text-align: center;
}
.container .header .icon-head i{
    font-size: 60px;
    padding: 30px;
    background-color: var(--success-color);
    color: white;
    border-radius: 50%;
    margin-bottom: 30px;
    box-shadow: 0 8px 20px #06d6a085;
}
.container .header h2{
    font-size: 50px ;
    color: var(--dark-color);
    margin-bottom: 15px;
}

.container .header p{
    font-size: 20px;
    color: #666;
    max-width: 500px;
    margin: auto;
}
.container .header h3{
    font-size: 25px;
    margin: 25px;
    border: 20px;
    background-color: var(--dark-color);
    display: inline-block;
    padding: 15px 20px;
    border-radius: 30px;
}
.container .header h3 i{
    color: var(--accent-color);
}
.container .header h3 span{
    color: white;
}

.details{
    margin-top: 30px;
    box-shadow: 0 20px 40px rgba(0, 0, 0 , 0.15);
}
.details h2{
    text-align: center;
    background-color: var(--dark-color);
    padding: 40px 0;    
    border-radius: 12px 12px 0 0;
    color: white;
}
.details .info{
    background-color: white;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(350px ,1fr));
    color: var(--dark-color);
    padding: 20px;
    gap: 20px;
}
.details .info div{
    display: flex;
    align-items: center;
    font-size: 20px;
    gap: 10px;
}
.details .info div p span{
    color: #666;
}
.details .foot{
    background-color: var(--dark-color);
    padding: 30px 0;
    text-align: center;
    border-radius: 0 0 12px 12px;
}
.details .foot button{
    padding: 15px 20px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    background-color: var(--primary-color);
    color: white;
    font-size: 20px;
    box-shadow: 0 8px 20px rgba(0, 0, 0 , 0.08);
    transition: .5s ease;
}
.details .foot button:hover{
    transform: translateY(-5px);
    box-shadow: 0 8px 30px rgba(0, 0, 0 , 0.15);
}







.important{
    margin-top: 30px;
}
.important .head{
    text-align: center;
    margin-bottom: 20px;
}
.important .head h2{
    font-size: 35px;
    color: var(--dark-color);
    margin-bottom: 15px;
}
.important .head p{
    font-size: 18px;
    color: #666;
}
.important .steps{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(350px , 1fr));
    gap: 30px;
    margin-top: 30px;
}
.important .steps .box{
    background-color: white;
    text-align: center;
    padding: 30px 20px;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0 , 0.08);
    transition: .5s ease;
}
.important .steps .box:hover{
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0, 0, 0 , 0.15);
}

.important .steps .box .icon i{
    color: white;
    font-size: 30px;
    padding: 20px;
    background-color: var(--primary-color);
    border-radius: 50%;
    position: relative;
}
.important .steps .box .icon i span{
    color: black;
    position: absolute;
    font-size: 13px;
    top: 0;
    left: 0;
    padding: 5px 8px;
    background-color: var(--accent-color);
    border-radius: 50%;
}
.important .steps .box h4{
    color: var(--dark-color);
    margin: 10px 0;
    font-size: 20px;
}
.important .steps .box p{
    font-size: 17px;
    color: #666;
}



























/* الفوتر */
footer{
    background-color: var(--dark-color);
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 150px;
}
.footer{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px , 1fr));
    justify-content: center;
    gap: 20px;
    padding: 60px 0;
}
.footer h2{
    color: white;
    margin-bottom: 20px;
}
.footer .about-site{
    color: rgba(255, 255, 255, 0.8);
    font-size: 18px;
}
.footer .about-site p{
    margin-bottom: 30px;
}
.footer .about-site div{
    margin-bottom: 10px;
}


.footer a {
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
    font-size: 16px;
    transition: .3s ease;
}
.footer a:hover{
    color: var(--accent-color);
}
.footer li{
    list-style: none;
    margin-bottom: 15px;
    transition: .3s ease;
}
.footer li:hover{
    transform: translateX(-5px);
}

p{
    word-spacing: 1px;
    line-height: 1.9;
}
.footer-end{
    text-align: center;
    padding-top: 30px;
    padding-bottom: 20px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255, 0.6);
}





@media(max-width:767px){
    header nav h2 a{
        font-size: 15px;
    }
    nav .icon-active{
        gap: 10px;
    }
    
    nav .back-restaurant-page a{
        padding: 6px 6px;
        border: 2px solid var(--accent-color);
        font-size: 18px;
    }
    footer{
        text-align: center;
    }
}
@media(max-width:520px){
    header nav h2 a {
        font-size: 12px;
    }
    nav .icon-active .icon i{
        width: 25px;
        height: 25px;
    }
    nav .back-restaurant-page a{
        padding: 3px 3px;
        border: 1px solid var(--accent-color);
        font-size: 11px;
        border-radius: 4px;
    }
    nav .icon-active .icon{
        gap: 5px;
        font-size: 16px;
    }
    nav .icon-active::before{
        top: 12px;
    }
    nav .icon-active .icon span{
        font-size: 10px;
    }
    .container .header h2{
        font-size: 38px;
    }
    .details .info{
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
    .important .steps{
        grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
    }
}